@font-face {
  font-family: NeueHasGrot;
  src: url(./assets/fonts/NeueHaasGrotDisp55Roman.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: NeueHasGrot;

}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: black;
}

header, main, footer{
  width: 100vw;
  height: contain;
  overflow-x: hidden;

}

main {
  position: relative;
  display: grid;
  justify-items: left;
  grid-template-rows: auto;
  gap: 9rem;
}

@media (min-width: 576px){
  main{
    justify-items: center;
  }
}

.leftBar{
  position: absolute;
  left: 0;
  width: 0rem;
  height: 100%;
  -webkit-box-shadow: 18px 6px 107px 200px rgba(0,0,0,0.79);
  -moz-box-shadow: 18px 6px 107px 200px rgba(0,0,0,0.79);
  box-shadow: 18px 6px 107px 200px rgba(0,0,0,0.79);
  background-color: rgba(0,0,0,0.79);
  
}

@media(max-width: 576px){
.leftBar
  {-webkit-box-shadow: -140px 6px 107px 200px rgba(0,0,0,0.79);
  -moz-box-shadow: -140px 6px 107px 200px rgba(0,0,0,0.79);
  box-shadow: -140px 6px 107px 200px rgba(0,0,0,0.79);
}
}

#root{
  width: 100%;
  height: 100%;
}
