@font-face {
  font-family: NeueHasGrot;
  src: url(./assets/fonts/NeueHaasGrotDisp55Roman.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: NeueHasGrot;

}

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}

header, main, footer{
  width: 100%;
  height: contain;
}

main {
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-rows: auto;
  gap: 9rem;
}



#root{
  width: 100%;
  height: 100%;
}
